<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<!-- <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="Sprint LMS" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
			</div> -->
		</div>
		<br>
		<div class="row">
			<p class="lead">
				nodeapps container
			</p>
		</div>
		<div class="row">
			<p class="error" ng-bind="error"></p>
			<button type="button" class="btn btn-primary" ng-click="doUpdate()">Update</button>
			<button type="button" class="btn btn-primary" ng-click="getStatus()">Status</button>
			<button type="button" class="btn btn-info" ng-click="clearLog()">Clear Log</button>
		</div>
	</div>
	<div class="row text-left">
		<pre ng-bind="statusText"></pre>
	</div>
</section>